.movie-detail {
  padding: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
}

.title h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.Box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.image {
  flex: 1;
  margin-right: 90px;
  border: 1px solid #ccc; /* Add border to image container */
  padding: 10px;
  border-radius: 5px;
}

.image img {
  max-width: 100%;
  border-radius: 5px;
}

.descript {
  flex: 2;
  border: 1px solid #ccc; /* Add border to description container */
  padding: 10px;
  border-radius: 5px;
}

.book-now {
  margin-top: 20px;
}

.btn-book-now {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #f5ba13;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn-book-now:hover{
  color: black;
}