.movie-list {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
   
  }
  
  .movie-navbar {
    background-color: #f5ba13;
    color: #fff;
    padding: 5px;
    margin-bottom: 20px;
    margin: 0 0 100px 0;
  }
  
  .movie-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
  }
  
  .movie-card {
    background-color: #f5ba13;
    /* color: white; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 200px;
    text-align: left;
    
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-card h2 {
    margin: 10px;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .movie-card a {
    text-decoration: none;
    color: inherit;
  }
  

  .blinking-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 5%;
    margin-left: 46%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    animation: blinking 2s infinite;
  }
  
  @keyframes blinking {
    2% { opacity: 1; }
    20% { opacity: 0; }
    10% { opacity: 1; }
  }
  