/* body{
    padding: 0;
    margin: 0;
}
.movie-detail{padding: 0;
margin: 0;}

  
  .movie-info {
    flex: 1;
  } */
  
  /* .title h1 {
    background-color: #f5ba13;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding:  20px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 0;
  }
  
.Box{
    padding: 50px;
    border: #f5ba13 solid;
    border-radius: 5px;
    margin: 10% 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  .description p {
    margin-bottom: 20%;

  }
  
  .book-now a {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .book-now a:hover {
    background-color: #0056b3;
  }
  

  .card {
  padding: 10px;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
} */

/* MovieDetail.css */


.title h1 {
    background-color: #f5ba13;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding:  20px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 0;
  }


  
  
  .title h1 {
    background-color: #f5ba13;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .Box {
    padding: 20px;
    
    margin: 2% 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .card {
    width: 100%;
    padding: 15px;
    border: #f5ba13;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
  }
  
  .image {
    width: 100%;
    max-width: 300px; /* Adjust max-width as needed */
    margin-bottom: 10px;
  }
  
  .image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .description {
    padding: 10px;
    text-align: center;
  }
  
  .book-now .btn-book-now {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f5ba13;
    color: black;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .book-now .btn-book-now:hover {
    background-color:#f5ba13;
    color: white;
  }
  